# Created by https://www.toptal.com/developers/gitignore/api/maven,gradle,java,windows,macos,linux 

# Edit at https://www.toptal.com/developers/gitignore?templates=maven,gradle,java,windows,macos,linux 

.idea 
